body
{
    background-color: aqua;
    font-family: "Rubik Pixels";
}

.harina
{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
h1
{
    text-align: center;
}
ol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
ul{
    list-style: korean-hanja-formal;
}
.pasos
{
    align-items: flex-start;
}
.titulo-pasos
{
    font-size: 25px;
    border-bottom: 1px solid red;
    padding: 5px;
}
.titulo
{
    font-size: 25px;
    padding: 5px;
    font-weight: 500;
    list-style: none;
}
.header-pagine
{
    display: flex;
    justify-content: center;
}
.header-pagine img
{
    width: 100px;
    height: 80px;
    border-radius: 50%;
}
img{
    border-radius: 10%;
    box-shadow: 5px 5px 5px #156d05;
}
picture
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
canvas
{
    border-radius: 10px;
    box-shadow: 5px 5px 5px #10140f;
}